@model JournalControlWebApp.Models.ViewModel.EditUserViewModel

@{
    ViewData["Title"] = "Изменение пользователя";
}

<h4>Изменение пользователя</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Id" />
            </div>
            <div class="form-group">
                <label asp-for="Login" class="control-label"></label>
                <input asp-for="Login" class="form-control" readonly />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Family" class="control-label"></label>
                <input asp-for="Family" class="form-control" />
                <span asp-validation-for="Family" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Otch" class="control-label"></label>
                <input asp-for="Otch" class="form-control" />
                <span asp-validation-for="Otch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Post" class="control-label"></label>
                <input asp-for="Post" class="form-control" />
                <span asp-validation-for="Post" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subunit" class="control-label"></label>
                <select asp-for="Subunit" class="form-control" asp-items="Model.Subunits" onchange="GetSectors()"></select>
                <span asp-validation-for="Subunit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sector" class="control-label"></label>
                <select asp-for="Sector" class="form-control"></select>
                <span asp-validation-for="Sector" class="text-danger"></span>
            </div>
            <div class="form-check">
                <label asp-for="AllRoles" class="control-label"></label>
                @foreach (var role in Model.AllRoles)
                {
                    <br />
                    <input type="checkbox" class="form-check-input" name="roles" value="@role.Name"
                            @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") />
                    <label class="form-check-label">@role.Name</label>
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
        function GetSectors() {
            var selectSubunit = document.getElementById("Subunit");
            var selectSector = document.getElementById("Sector");
            while (selectSector.firstChild) {
                selectSector.removeChild(selectSector.firstChild);
            }
            var option = selectSubunit.options[selectSubunit.selectedIndex];
            @foreach (var sec in Model.Sectors)
            {
                <text>
                    var SubunitId = '@sec.SubunitId';
                    var Id = '@sec.Id';
                    var SectorName = @Html.Raw(Json.Serialize(sec.SectorName));
                    if (SubunitId == option.value) {
                        var newOpt = document.createElement("option");
                        newOpt.value = Id;
                        newOpt.text = SectorName;
                        selectSector.appendChild(newOpt);
                    }
                </text>
            }
    }
    GetSectors();
    var selectSector = document.getElementById("Sector");
    for (var i = 0; i < selectSector.options.length; ++i) {
        if (selectSector.options[i].value == "@Model.Sector") {
            selectSector.options[i].selected = true;
            break;
        }
    }
    </script>
}
