@model JournalControlWebApp.Models.ViewModel.WorkerListViewModel;

@{
    ViewData["Title"] = "Cписок пользователей";
}

<p>
    <a asp-action="CreateUser">Создать пользователя</a>
</p>
<form method="get" asp-action="Index">
    <div class="form-inline">
        <input name="query" value="@Model.FilterViewModel.QueryString" class="form-control" />
        <input type="submit" value="Поиск" class="btn btn-outline-primary" />
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@Model.SortViewModel.LoginSort"
                   asp-route-query="@Model.FilterViewModel.QueryString">
                    Логин
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@Model.SortViewModel.FamilySort"
                   asp-route-query="@Model.FilterViewModel.QueryString">
                    Фамилия
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@Model.SortViewModel.NameSort"
                   asp-route-query="@Model.FilterViewModel.QueryString">
                    Имя
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@Model.SortViewModel.OtchSort"
                   asp-route-query="@Model.FilterViewModel.QueryString">
                    Отчество
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@Model.SortViewModel.PostSort"
                   asp-route-query="@Model.FilterViewModel.QueryString">
                    Должность
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@Model.SortViewModel.SubunitSort"
                   asp-route-query="@Model.FilterViewModel.QueryString">
                    Подразделение
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@Model.SortViewModel.SectorSort"
                   asp-route-query="@Model.FilterViewModel.QueryString">
                    Участок
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Workers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Family)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Otch)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Post)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sector.Subunit.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sector.SectorName)
                </td>
                <td>
                        <a asp-action="EditUser" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Изменить</a>
                        <a asp-action="ChangePassword" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Сбросить пароль</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       asp-route-query="@Model.FilterViewModel.QueryString"
       asp-route-sortOrder="@Model.SortViewModel.Current"
       class="btn btn-outline-dark">
        <i class="glyphicon glyphicon-chevron-left"></i>
    </a>
}
@for (var i = 1; i <= Model.PageViewModel.TotalPages; ++i)
{
    @if (i == Model.PageViewModel.PageNumber)
    {
        <a asp-action="Index"
           asp-route-page="@i"
           asp-route-query="@Model.FilterViewModel.QueryString"
           asp-route-sortOrder="@Model.SortViewModel.Current"
           class="btn btn-outline-info">
            @i
        </a>
    }
    else
    {
        <a asp-action="Index"
           asp-route-page="@i"
           asp-route-query="@Model.FilterViewModel.QueryString"
           asp-route-sortOrder="@Model.SortViewModel.Current"
           class="btn btn-outline-dark">
            @i
        </a>
    }
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       asp-route-query="@Model.FilterViewModel.QueryString"
       asp-route-sortOrder="@Model.SortViewModel.Current"
       class="btn btn-outline-dark">
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}

