@model JournalControlWebApp.Models.dbo.Event

@{
    ViewData["Title"] = "Мероприятие";
}

<div>
    <h4>Детали мероприятия</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Check.FailCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Check.FailCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Check.CheckDate)
        </dt>
        <dd class="col-sm-10">
            @{string checkDateStr = Model.Check.CheckDate.ToShortDateString();}
            @Html.DisplayFor(model => checkDateStr)
        </dd>
        <dt class="col-sm-2">
            Проверяемое подразделение
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Check.Sector.Subunit.Name)
        </dd>
        <dt class="col-sm-2">
            Проверяемый участок
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Check.Sector.SectorName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Check.RegWorkerNavigation)
        </dt>
        <dd class="col-sm-10">
            @{ string regFio = Model.Check.RegWorkerNavigation.Family + " " + Model.Check.RegWorkerNavigation.Name[0] + "." + Model.Check.RegWorkerNavigation.Otch[0] + ".";}
            @Html.DisplayFor(model => regFio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Check.TdKd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Check.TdKd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Check.ControlIndicator)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Check.FailDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FailReason)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FailReason)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ResponsWorker)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ResponsWorker)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>
        <dd class="col-sm-10">
            @{ string dueDateStr = Model.DueDate.ToShortDateString();}
            @Html.DisplayFor(model => dueDateStr)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DevelopDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DevelopDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeveloperNavigation)
        </dt>
        <dd class="col-sm-10">
            @{ string developerFio = Model.DeveloperNavigation.Family + " " + Model.DeveloperNavigation.Name[0] + "." + Model.DeveloperNavigation.Otch[0] + ".";}
            @Html.DisplayFor(model => developerFio)
        </dd>
        <dt class="col-sm-2">
            Подразделение разработчика
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeveloperNavigation.Sector.Subunit.Name)
        </dd>
        @if (!String.IsNullOrEmpty(Model.Report))
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Report)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Report)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ProofInf)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ProofInf)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ReportDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ReportDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ReportWorkerNavigation)
            </dt>
            <dd class="col-sm-10">
                @{ string reportFio = Model.ReportWorkerNavigation.Family + " " + Model.ReportWorkerNavigation.Name[0] + "." + Model.ReportWorkerNavigation.Otch[0] + ".";}
                @Html.DisplayFor(model => reportFio)
            </dd>
            <dt class="col-sm-2">
                Подразделение предоставившего отчет
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ReportWorkerNavigation.Sector.Subunit.Name)
            </dd>
        }
    </dl>
    @if (String.IsNullOrEmpty(Model.Report) && User.IsInRole("REPORT") && (ViewBag.Worker.Id == Model.DeveloperNavigation.Id || ViewBag.Worker.Sector.SubunitId == Model.DeveloperNavigation.Sector.SubunitId && User.IsInRole("SUBSHOW")))
    {
        <form asp-action="Report" method="post">
            <input type="hidden" asp-for="Id" value="@Model.Id" />
            <div class="form-group">
                <label asp-for="Report" class="control-label"></label>
                <select name="Report">
                    <option value="-">-</option>
                    <option value="Выполнено">Выполнено</option>
                    <option value="Отменено">Отменено</option>
                </select>
                <span asp-validation-for="Report" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProofInf" class="control-label"></label>
                <input asp-for="ProofInf" class="form-control" />
                <span asp-validation-for="ProofInf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Сохранить отчет" />
            </div>
        </form>

    }

    @if (User.IsInRole("REPORT") && !String.IsNullOrEmpty(Model.Report))
    {
        <form method="post" asp-action="Deactivate" asp-route-id="@Model.Id">
            <input type="submit" value="Зарегистрировать устранение мероприятия" class="btn btn-primary" />
        </form>
    }

    @if (User.IsInRole("DEVEL") && String.IsNullOrEmpty(Model.Report)
    && (ViewBag.Worker.Id == Model.Developer
    || (User.IsInRole("SUBSHOW") && (ViewBag.Worker.SectorId == Model.DeveloperNavigation.SectorId
    || ViewBag.Worker.Sector.SubunitId == Model.DeveloperNavigation.Sector.SubunitId && ViewBag.Worker.Sector.IsMain))))
    {
    <form method="post" asp-action="Incorrect" asp-route-id="@Model.Id">
        <input type="submit" value="Зарегистрировать ошибку в мероприятии" class="btn btn-primary" />
    </form>
    }
</div>
